:root {
  --bg: #eff2f2;
  --fg: #000000;
  --bg-box: #f5e3f7;
  --acent-color: #0ee3f7; /* bords and stuff */
}

* {
  font-size: clamp(1rem, 2vw, 2rem);
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
}

#info > div, svg {
  background-color: var(--bg-box);
}

body > * {
  margin: 0.5em;
  padding: 0.25em;
  background-color: var(--bg-box);
  border-radius: 8px;
  border: 1px solid var(--acent-color);
}

input,
select,
label,
button,
details {
  padding: 0.25em;
  border-radius: 8px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}


#info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
}
