<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Haushaltsbuch</title>
        <style>
:root {
  --bg: #eff2f2;
  --fg: #000000;
  --bg-box: #f5e3f7;
  --acent-color: #0ee3f7; /* bords and stuff */
  --cat0: #f5e3f7;
  --cat1: #f7910c;
  --cat2: #e7f70c;
  --cat3: #f71c0c;
  --cat4: #0cf7e3;
  --cat5: #0c95f7;
  --cat6: #0cf76e;
}

* {
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--fg);
  font-family: monospace;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.right-align {
  align-items: right;
  text-align: right;
}

select, button, input {
  background-color: var(--bg);
}

#menu {
input, select, button {
  background-color: var(--bg-box);
  border: 1px solid var(--fg);
  }
}

button, select, input[type="date"], label {
  cursor: pointer;
}

body {
  background-color: var(--bg);
}

body > * {
  margin: 0.5em;
  padding: 0.25em;
  background-color: var(--bg-box);
  border-radius: 8px;
  border: 1px solid var(--acent-color);
}

input,
select,
label,
button,
details {
  padding: 0.25em;
  border-radius: 8px;
}

summary {
  cursor: pointer;
  display: grid;
  font-weight: bold;
}

#menu > details > summary::after{
  content: "☰";
  margin-left: 0.25em;
}

#menu summary {
  grid-template-columns: 1fr auto; 
}


#menu details[open] > summary {
  margin-bottom: 0.5em;

}

#menu > details[open] > summary::after{
  content: "☷";
}

#details summary,
#label_agenda summary {
  grid-template-columns: auto 1fr auto; 
}


#details details > summary::before, 
#label_agenda details > summary::before{
  content: "▸";
  margin-right: 0.25em;
}

#details details[open] > summary::before, 
#label_agenda details[open] > summary::before{
  transform: rotate(90deg);
}

#details > details:not(:last-child) {
  margin-bottom: 0.25em;

}

.hidden {
  display: none;
}
.cat0, .cat0 * {
  background-color: var(--cat0);
}

.cat1, .cat1 * {
  background-color: var(--cat1);
}

.cat2, .cat2 * {
  background-color: var(--cat2);
}

.cat3, .cat3 * {
  background-color: var(--cat3);
}
.cat4, .cat4 * {
  background-color: var(--cat4);
}
.cat5, .cat5 * {
  background-color: var(--cat5);
}
.cat6, .cat6 * {
  background-color: var(--cat6);
}

        </style>
    </head>
    <body>

<script>
// Source - https://stackoverflow.com/a
// Posted by Cheery, modified by community. See post 'Timeline' for change history
// Retrieved 2025-12-31, License - CC BY-SA 4.0

/**
 * Returns the week number for this date.
 * "starts" on for your locale - it can be from 0 to 6. If dowOffset is 1 (Monday),
 * the week returned is the ISO 8601 week number.
 * @param int dowOffset
 * @return int
 */
Date.prototype.getWeek = function () {
  /*getWeek() was developed by Nick Baicoianu at MeanFreePath: http://www.meanfreepath.com */

  let get_day_of_year = function (year) {
    let newYear = new Date(year, 0, 1);
    let day = newYear.getDay() - 1; // we start on monday
    return day >= 0 ? day : day + 7;
  };
  let that = this;
  let get_day_num_of_year = function (year) {
    let newYear = new Date(year, 0, 1);
    return (
      Math.floor(
        (that.getTime() -
          newYear.getTime() -
          (that.getTimezoneOffset() - newYear.getTimezoneOffset()) * 60000) /
          86400000,
      ) + 1
    );
  };
  let day = get_day_of_year(this.getFullYear()); //the day of week the year begins on
  let daynum = get_day_num_of_year(this.getFullYear());
  let weeknum = Math.floor((daynum + day - 1) / 7);

  if (day < 4) {
    if (weeknum + 1 > 52) {
      /*if the next year starts before the middle of
              the week, it is week #1 of that year*/
      return get_day_of_year(this.getFullYear() + 1) < 4 ? 1 : 53;
    }
  }

  //if the year starts before the middle of a week
  return weeknum;
};
</script>
<script>
// Stolen from: https://github.com/finom/donutjs/blob/master/donut.js
(function (root, factory) {
  if (typeof define === "function" && define.amd) {
    define(factory);
  } else if (typeof module === "object" && module.exports) {
    module.exports = factory();
  } else {
    root.donut = factory();
  }
})(this, function () {
  var doc = document,
    M = Math,
    donutData = {},
    dataIndex = 0,
    donut = function (options) {
      var div = doc.createElement("div"),
        size = options.size || 100,
        data = options.data || [{ value: 1 }],
        weight = options.weight || 50,
        el = options.el,
        r = size / 2,
        PI = M.PI,
        sin = M.sin,
        cos = M.cos,
        sum = 0,
        i,
        value,
        arc,
        setAttribute = function (el, o) {
          for (j in o) {
            el.setAttribute(j, o[j]);
          }
        };

      for (i = 0; i < data.length; i++) {
        sum += data[i].value;
      }

      div.className = "donut";
      div.style.width = div.style.height = size + "px";

      var NS = "http://www.w3.org/2000/svg",
        svg = doc.createElementNS(NS, "svg"),
        startAngle = -PI / 2,
        arcRadius = r - weight / 2;

      svg.setAttribute("height", size + "px");
      svg.setAttribute("width", size + "px");

      div.appendChild(svg);

      for (i = 0; i < data.length; i++) {
        value = data[i].value / sum;
        value = value === 1 ? 0.9999 : value;
        arc = doc.createElementNS(NS, "path");

        var segmentAngle = value * PI * 2,
          endAngle = segmentAngle + startAngle,
          largeArc = (endAngle - startAngle) % (PI * 2) > PI ? 1 : 0,
          startX = r + cos(startAngle) * arcRadius,
          startY = r + sin(startAngle) * arcRadius,
          endX = r + cos(endAngle) * arcRadius,
          endY = r + sin(endAngle) * arcRadius;

        startAngle = endAngle;

        setAttribute(arc, {
          d: [
            "M",
            startX,
            startY,
            "A",
            arcRadius,
            arcRadius,
            0,
            largeArc,
            1,
            endX,
            endY,
          ].join(" "),
          stroke: data[i].color,
          "stroke-width": weight,
          fill: "none",
          "data-name": data[i].name,
          class: "donut-arc",
        });
        donut.data(arc, data[i]);
        //TODO: add agenda
        svg.appendChild(arc);
      }

      if (el) {
        el.appendChild(div);
      }

      return div;
    };

  donut.data = function (arc, data) {
    if (typeof data === "undefined") {
      return donutData[arc._DONUT];
    } else {
      donutData[(arc._DONUT = arc._DONUT || ++dataIndex)] = data;
      return arc;
    }
  };

  return donut;
});
</script>
<script>
class Label {
  constructor(title, description, index) {
    this.index = Number(index);
    this.title = title;
    this.description = description;
  }
  get toClass() {
    return Label.toClass(this.index);
  }
  static toClass(index) {
    return `cat${Number(index) + 1}`;
  }

  static fromClass(cl) {
    if (!cl.startsWith("cat")) return null;
    let cidx = cl.substring(3); // cat
    return Number(cidx) - 1;
  }
}

const labels = [
  new Label("Groceries", "Food & drinks for home", 0),
  new Label("Dining Out", "Restaurants, cafés, bars, takeout, delivery", 1),
  new Label("Housing", "Rent, utilities, maintenance, repairs", 2),
  new Label(
    "Transportation",
    "Public transit, fuel, car costs, bike, parking, rideshare",
    3,
  ),
  new Label(
    "Necessities",
    "Essential non-food items like cleaning supplies, toiletries, basic clothing",
    4,
  ),
  new Label(
    "Entertainment",
    "Electronics, gadgets, entertainment, hobbies, subscriptions, leisure activities",
    5,
  ),
];

class Entry {
  constructor(value, currency, label, timestamp) {
    this.value = Number(value).toFixed(2);
    this.currency = currency;
    this.label = Number(label);
    this.timestamp = Number(timestamp);
  }
}

class Filter {
  constructor() {
    // <select id="menu_overview_select">
    let mos = document.getElementById("menu_overview_select").value || "daily";
    let selectedDate =
      document.getElementById("daily_date").valueAsDate || new Date();
    this.filter = mos;
    this.selectedDate = selectedDate;
  }

  show(entry) {
    if (this.filter == "all") {
      return true;
    }
    let ed = new Date(entry.timestamp);
    if (this.filter == "daily") {
      return (
        this.selectedDate.getDate() == ed.getDate() &&
        this.selectedDate.getMonth() == ed.getMonth() &&
        this.selectedDate.getYear() == ed.getYear()
      );
    }
    if (this.filter == "weekly") {
      return (
        this.selectedDate.getYear() == ed.getYear() &&
        this.selectedDate.getWeek() == ed.getWeek()
      );
    }
    if (this.filter == "monthly") {
      return (
        this.selectedDate.getMonth() == ed.getMonth() &&
        this.selectedDate.getYear() == ed.getYear()
      );
    }
    if (this.filter == "yearly") {
      return this.selectedDate.getYear() == ed.getYear();
    }
    return false;
  }
}

window.onload = function () {
  addDocumentEventListener();
  storeCurrentEtag();
  prepareDropDown(labels);
  updateEntries();
};

function storeEtag(response) {
  let etag = response.headers.get("etag");
  localStorage.setItem("etag", etag);
}

function storeCurrentEtag() {
  if (window.location.href.startsWith("file://")) return;
  fetch("/", {
    method: "HEAD",
  })
    .then((response) => {
      if (response.status === 200) {
        storeEtag(response);
      } else {
        console.log("unexpected status", response);
      }
    })
    .catch((error) => {
      console.log("Error:", error);
    });
}

function createAgenda(total, labels) {
  const container = document.getElementById("label_agenda");
  container.innerHTML = "";
  labels.sort((a, b) => a.value < b.value);

  let createDetail = (label) => {
    const details = document.createElement("details");
    const summary = document.createElement("summary");
    const currency = "€";

    const titleSpan = document.createElement("span");
    titleSpan.textContent = label.title;
    const currencySpan = document.createElement("span");
    currencySpan.textContent = `${label.value.toFixed(2)}${currency}`;
    summary.appendChild(titleSpan);
    summary.appendChild(currencySpan);

    const paragraph = document.createElement("p");
    paragraph.textContent = label.description;

    details.appendChild(summary);
    details.appendChild(paragraph);

    details.classList.add(label.toClass);
    return details;
  };

  labels.forEach((label) => {
    container.appendChild(createDetail(label));
  });

  container.appendChild(
    createDetail({ index: -1, title: "Total", value: total }),
  );
}

function createEntryTemplate(show, label, entry) {
  const details = document.createElement("details");
  details.classList.add(Label.toClass(entry.label));
  details.id = entry.timestamp;

  const titleSpan = document.createElement("span");
  titleSpan.textContent = label.title;
  const currencySpan = document.createElement("span");
  currencySpan.textContent = `${entry.value}${entry.currency}`;

  const summary = document.createElement("summary");
  summary.appendChild(titleSpan);
  summary.appendChild(currencySpan);

  const removeLink = document.createElement("a");
  removeLink.textContent = "remove";
  removeLink.href = "#";
  removeLink.addEventListener("click", function (e) {
    e.preventDefault();
    removeEntry(details.id);
  });

  details.appendChild(summary);
  details.appendChild(removeLink);

  if (!show) {
    details.classList.add("hidden");
  }

  return details;
}

function removeEntry(timestamp) {
  const storedData = JSON.parse(localStorage.getItem("dailyEntries")) || [];

  let index = storedData.findIndex((element) => {
    return element.timestamp == timestamp;
  });
  if (index > -1) {
    storedData.splice(index, 1);
    document.getElementById(timestamp).remove();
  } else {
    const newEntry = {
      event: "remove",
      timestamp: timestamp,
    };
    storedData.push(newEntry);
  }

  localStorage.setItem("dailyEntries", JSON.stringify(storedData));

  updateEntries();
}

function convertEmToPx(emValue, context) {
  const fontSize = parseFloat(
    getComputedStyle(context || document.documentElement).fontSize,
  );
  return emValue * fontSize;
}

function prepareDropDown(labels) {
  const details = document.getElementById("daily_label_select");
  details.innerHTML = "";
  labels.forEach((label) => {
    const option = document.createElement("option");
    option.textContent = label.title;
    option.value = label.index;
    details.appendChild(option);
  });
}

function getHTMLEntries(cached) {
  function splitCurrencyLabel(label) {
    let i = label.length - 1;
    const value_symbols = "0123456789,.";
    while (i >= 0 && !value_symbols.includes(label[i])) i--;
    return {
      currency: label.slice(i + 1).trim(),
      value: label.slice(0, i + 1),
    };
  }
  const details = document.getElementById("details").children;
  const results = [];
  for (let i = 0; i < details.length; ++i) {
    let timestamp = details[i].id;
    let label = [...details[i].classList]
      .map(Label.fromClass)
      .find((x) => x != null);
    let vc = splitCurrencyLabel(details[i].children[0].children[1].textContent);
    const entry = new Entry(vc.value, vc.currency, label, timestamp);

    if (cached.findIndex((e) => e.timestamp == entry.timestamp) == -1) {
      results.push(entry);
    }
  }

  return results;
}

function getRootColor(color) {
  return getComputedStyle(document.documentElement)
    .getPropertyValue(color)
    .trim();
}

var agenda_size; // is set once on updateEntries and used for the donut size

function updateEntries() {
  const details = document.getElementById("details");
  const cachedData = JSON.parse(localStorage.getItem("dailyEntries")) || [];
  const storedData = getHTMLEntries(cachedData);
  storedData.push(...cachedData);

  //TODO: don't redraw on cachedData.length === 0 but add remove listener
  details.innerHTML = "";
  const prepared_labels = labels.map((label) => {
    label.value = 0;
    return label;
  });

  const dont_draw = storedData
    .filter((e) => e.event === "remove")
    .map((e) => e.timestamp);
  const drawData = storedData.filter((e) => e.event !== "remove");
  const filtered = new Filter();
  const colors = [
    getRootColor("--cat1"),
    getRootColor("--cat2"),
    getRootColor("--cat3"),
    getRootColor("--cat4"),
    getRootColor("--cat5"),
    getRootColor("--cat6"),
  ];
  var total = 0;
  const summaries = drawData.reverse().reduce((p, c) => {
    if (!dont_draw.includes(c.timestamp)) {
      let idx = p.findIndex((item) => item.index === Number(c.label));
      let show = filtered.show(c);
      let e = p[idx];
      if (show) {
        e.value += Number(c.value);
        total += Number(c.value);
        e.color = colors[idx];
        p[idx] = e;
      }
      const entry = createEntryTemplate(show, e, c);
      details.appendChild(entry);
    }
    return p;
  }, prepared_labels);

  createAgenda(total, summaries);
  if (!agenda_size) {
    let padding = summaries.length * 0.25 * 2;
    let margin = summaries.length * 0.5;
    agenda_size = convertEmToPx(summaries.length + padding + margin);
  }
  const don = donut({
    data: summaries,
    size: agenda_size,
  });
  document.getElementById("daily_donut").innerHTML = don.innerHTML;
}
function addDocumentEventListener() {
  if (document.getElementById("daily_date").valueAsDate === null)
    document.getElementById("daily_date").valueAsDate = new Date();
  document.getElementById("daily_date").addEventListener("change", function () {
    updateEntries();
  });
  document
    .getElementById("menu_overview_select")
    .addEventListener("change", function () {
      updateEntries();
    });

  document
    .getElementById("daily_label_select")
    .addEventListener("change", function () {
      document.getElementById("daily_input").focus();
    });

  document.getElementById("daily_form").addEventListener("submit", function () {
    event.preventDefault();
    const value = document.getElementById("daily_input").value;
    const currency = "€";
    const label = document.getElementById("daily_label_select").value;

    if (value && label) {
      let selectedDate =
        document.getElementById("daily_date").valueAsDate || new Date();
      let currentTime = new Date();
      selectedDate.setHours(currentTime.getHours());
      selectedDate.setMinutes(currentTime.getMinutes());
      selectedDate.setSeconds(currentTime.getSeconds());
      const dailyEntries =
        JSON.parse(localStorage.getItem("dailyEntries")) || [];
      const newEntry = new Entry(
        value,
        currency,
        label,
        selectedDate.getTime(),
      );
      dailyEntries.push(newEntry);
      localStorage.setItem("dailyEntries", JSON.stringify(dailyEntries));
      document.getElementById("daily_input").value = "";
      document.getElementById("daily_label_select").value = label;
      updateEntries();
    }
    document.getElementById("daily_input").focus();
  });

  document
    .getElementById("menu_export")
    .addEventListener("submit", function () {
      event.preventDefault();
      const target = document.getElementById("menu_export_select").value;

      const htmlContent =
        "<!doctype html>" + document.documentElement.outerHTML;
      if (target === "server") {
        if (window.location.href.startsWith("file://")) return;
        fetch("/", {
          method: "PUT",
          headers: {
            "Content-Type": "text/html",
            "if-match": localStorage.getItem("etag"),
          },
          body: htmlContent,
        })
          .then((response) => {
            if (response.status === 200) {
              localStorage.clear();
            }
            storeEtag(response);
            document.innerHTML = response.text();
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      } else if (target === "file") {
        const blob = new Blob([htmlContent], { type: "text/html" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "ausgabenzettel.html";
        link.click();
        localStorage.clear();
      }
    });
}
</script>
<div id="menu" class="row">
  <div id="umSelectable">
    <select id="menu_overview_select">
      <option value="daily">daily</option>
      <option value="weekly">weekly</option>
      <option value="monthly">monthly</option>
      <option value="yearly">yearly</option>
      <option value="all">all</option>
    </select>
    <input id="daily_date" type="date" />
  </div>
  <details class="right-align">
    <summary>Menu</summary>
    <div>
      <form id="menu_export">
        <select id="menu_export_select">
          <option value="server">Server</option>
          <option value="file">File</option>
        </select>
        <button id="menu_enter">Export</button>
      </form>
    </div>
  </details>
</div>
<form id="daily_form" class="row">
  <div>
    <label for="daily_input">€</label>
    <input id="daily_input" type="number" min="0" step="0.01" />
  </div>
  <div class="right-align">
    <select id="daily_label_select"></select>
    <button id="daily_enter">OK</button>
  </div>
</form>
<div id="info" class="row">
  <div id="daily_donut"></div>
  <div id="label_agenda"></div>
</div>
